<ion-view title="Search" id="page1">
    <ion-content padding="true" class="has-header">
        <form id="search-form2" class="list ">
            <label class="item item-input " id="search-input2">
                <span class="input-label">Postal Code</span>
                <input type="text" placeholder="Enter Value" ng-model="s.postal">
            </label>
            <label class="item item-input " id="search-input3">
                <span class="input-label">Item</span>
                <input type="text" placeholder="Name" ng-model="s.item">
            </label>
        </form>
        <a ng-click="search()" id="search-button1" class="button button-positive button-block">Search</a>
    </ion-content>
</ion-view>
